@use "../base/color";

@mixin gradient-button($radius: 50px) {
    background: linear-gradient(to right, color.$gradient-start, color.$gradient-end);
    color: color.$text-color;
    border: none;
    border-radius: $radius;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn--primary {
    @include gradient-button(25px);
}