$gradient-start: #9356DC;
$gradient-end: #FF79DA;
$text-color: #ffffff;
$grey2 : #EAEAEA;
$grey: #F6F6F6;
$grey-black: #353535;
$grey-tint: #7E7E7E;
$primary: #9356DC;
$green: #99E2D0;
$green-font: #008766;