@charset "UTF-8";
/******RESET CSS***********/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, ul, h1, h2, h3, h4, p {
  margin: 0;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
  background-color: #F6F6F6;
  height: 100%;
}

.main-container {
  width: 100%;
}

.btn--primary {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 50px;
  width: 218px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.btn--primary:hover {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 50px;
  width: 218px;
  background: linear-gradient(193deg, #9356DC -50.44%, #FF79DA 100.93%);
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.25);
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 96px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.header__logo {
  display: block;
  width: 200px;
  height: 34px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-50px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  background-color: white;
}

.back-arrow {
  display: flex;
  position: absolute;
  gap: 8px;
  left: 20px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.image {
  position: relative;
  width: 100%;
  height: 275px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 26px 18px;
  margin-top: -70px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  z-index: 2;
  background-color: #F6F6F6;
}
.menu__card-checkbox {
  display: none;
}
.menu__title {
  font-weight: 200;
  display: inline-block;
  padding-bottom: 5px;
}
.menu__title::after {
  content: "";
  display: block;
  width: 55px;
  height: 3px;
  background-color: #99E2D0;
}
.menu__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.menu__card {
  opacity: 0;
  animation: slideIn 0.5s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.menu__card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
}
.menu__card-price {
  font-size: 16px;
  font-weight: bold;
  top: 13px;
  transition: transform 0.3s ease-in-out;
  white-space: nowrap; /* Empêche le retour à la ligne */
  position: relative;
  z-index: 1; /* Pour rester au-dessus du check avant l'animation */
}
.menu__card-check {
  width: 0px; /* Caché au départ */
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Effet propre */
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.menu__card-check::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-2%, -4%);
  z-index: 0;
}
.menu__card-check i {
  color: #99E2D0;
  font-size: 15px;
  opacity: 1;
  transform: translate(-2%, -4%);
}
.menu__card-checkbox:checked + .menu__card-content .menu__card-price {
  transform: translateX(-69px);
}
.menu__card-checkbox:checked + .menu__card-content .menu__card-check i {
  opacity: 1;
}
.menu__card-checkbox:checked + .menu__card-content .menu__card-check {
  width: 69px;
}
.menu__card-title {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}
.menu__card-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}
.menu__card-subtitle {
  flex: 1;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}
.menu__heart {
  position: relative;
}
.menu__heart i.fa-solid {
  position: absolute;
  font-size: 26px;
  cursor: pointer;
  opacity: 0;
  -webkit-background-clip: text;
  background-clip: text;
  transition: opacity 0.7s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
}
.menu__heart i.fa-solid:hover {
  opacity: 1;
}
.menu__heart i.fa-regular {
  font-size: 26px;
}

.menu__card:nth-child(1) {
  animation-delay: 0.3s;
}

.menu__card:nth-child(2) {
  animation-delay: 0.6s;
}

.menu__card:nth-child(3) {
  animation-delay: 0.8s;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

@media (min-width: 1025px) {
  .menu {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  animation: lds 2s cubic-bezier(0, 0.9, 0.46, 0.33);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.loader__dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader__dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  animation: lds-dual-ring 1.5s linear;
}

@keyframes lds {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
a {
  color: inherit;
  text-decoration: none;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
  gap: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.localisation > p {
  font-weight: 500;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 15px;
  background-color: #F6F6F6;
}
.reservation__title {
  font-size: 40px;
  font-weight: 700;
}

.btn--primary {
  margin-top: 10px;
}

.functioning i {
  color: #7E7E7E;
}

.functioning {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 30px;
  padding: 40px 20px;
}
.functioning__title {
  display: flex;
}
.functioning__btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-left: 12px;
}
.functioning__btn {
  padding: 26px 30px;
  border-radius: 20px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
.functioning__btn:hover i {
  color: #9356DC;
}
.functioning__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 26px 18px;
  background-color: #F6F6F6;
}
.restaurants__title {
  display: flex;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
.restaurants__card img {
  display: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 231px;
}
.restaurants__card-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 14px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  gap: 10px;
}
.restaurants__card-heart {
  position: absolute;
  right: 26px;
  bottom: 15px;
}
.restaurants__card-heart i.fa-solid {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
  -webkit-background-clip: text;
  background-clip: text;
  transition: opacity 0.7s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
}
.restaurants__card-heart i.fa-solid:hover {
  opacity: 1;
}
.restaurants__card-heart i.fa-regular {
  font-size: 30px;
}
.restaurants__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 29px;
  right: 26px;
  top: 25px;
  background-color: #99E2D0;
  color: #008766;
}

@media (min-width: 1025px) {
  .functioning {
    padding-left: 10%;
    padding-right: 10%;
  }
  .functioning__btns {
    flex-direction: row;
    gap: 40px;
  }
  .restaurants {
    padding-left: 10%;
    padding-right: 10%;
  }
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants__cards article {
    width: 44%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 25px;
  background-color: #353535;
  color: white;
  gap: 16px;
  height: 20%;
}
.footer__logo {
  display: flex;
  width: 120px;
  filter: invert(100);
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.footer__content i {
  font-size: 13px;
  height: 15px;
  width: 25px;
}

@media (min-width: 1025px) {
  .footer {
    flex-direction: row-reverse;
    gap: 50px;
  }
  .footer__logo {
    display: flex;
    width: 120px;
    filter: invert(100);
    transform: translateY(-2px);
  }
  .footer__content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
  }
  .footer__content i {
    font-size: 13px;
    height: 15px;
    width: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
