@use "../base/color";

@mixin rectangle($radius :20px) {
    padding: 26px 30px;
    border-radius: $radius;
    background-color: color.$grey;
}


.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color.$grey2;
    height: 50px;
    gap: 17px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    & > p {
        font-weight: 500;

    }
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 15px;
    
}

.btn--primary {
    margin-top: 10px;
}

.functioning i {
    color: color.$grey-tint;
}

.functioning {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 30px;
    padding: 40px 20px;
    
    &__title {
        display: flex;
        
    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        
    }

    &__btn {
        @include rectangle();
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        box-shadow : 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    }

    &__btn:hover i {
        color: color.$primary;
    }

    &__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 8px;
        background-color: color.$primary;
        color: white;
        font-size: 15px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    gap: 18px;


    &__title {
        display: flex;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    &__card {
        display: flex;
        flex-direction: column;
        padding: 26px 18px;
        border-radius: 15px;
        
    }
    &__card img {
        display: flex;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 231px;
    }

    &__card-content {
        display: flex;
        background-color: white;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-bottom: 50px;
    }
}

