@use "../base/color";
@use "../utils/media";






// Loader Spinner //

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color.$grey-black;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    animation: lds 2s cubic-bezier(0, .9, .46, .33);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &__dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }

    &__dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid color.$primary;
        border-color: color.$primary transparent color.$primary transparent;
        animation: lds-dual-ring 1.5s linear;
    }
}

@keyframes lds {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@mixin rectangle($radius :20px) {
    padding: 26px 30px;
    border-radius: $radius;
    background-color: color.$grey;
}

a {
    color: inherit;
    text-decoration: none;
}
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color.$grey2;
    height: 50px;
    gap: 17px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    & > p {
        font-weight: 500;
    }
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 15px;
    
}

.btn--primary {
    margin-top: 10px;
}

.functioning i {
    color: color.$grey-tint;
}

.functioning {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 30px;
    padding: 40px 20px;
    
    &__title {
        display: flex;
        
    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-left: 12px;
    }

    &__btn {
        @include rectangle();
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        box-shadow : 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        position: relative;
    }

    &__btn:hover i {
        color: color.$primary;
    }

    &__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -12px;
        background-color: color.$primary;
        color: white;
        font-size: 15px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 26px 18px;


    &__title {
        display: flex;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        
    }

    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        position: relative;
        box-shadow : 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    }
    &__card img {
        display: flex;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 231px;
    }

    &__card-content {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 14px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        gap: 10px;
    }

    &__card-heart {
        position: absolute;
        right: 26px;
        bottom: 15px;
        
    }

    &__card-heart i.fa-solid {
        position: absolute;
        font-size: 30px;
        cursor: pointer;
        opacity: 0;
        -webkit-background-clip: text;
        background-clip: text;
        transition: opacity 0.7s ease-in-out;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(#FF79DA, #9356DC);
    }

    &__card-heart i.fa-solid:hover {
        opacity: 1;
    }

    &__card-heart i.fa-regular {
        font-size: 30px;
        
        
    }

    &__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80px;
        height: 29px;
        right: 26px;
        top: 25px;
        background-color: color.$green;
        color: color.$green-font;
    }


}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 22px 25px;
    background-color: color.$grey-black;
    color: white;
    gap: 16px;

    &__logo {
        display: flex;
        width: 120px;
        filter: invert(100);
        

    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        
    }

    &__content i {
       font-size: 13px;
       height: 15px;
       width: 25px;
    }
}

@media (min-width: 1025px) {
    .functioning {
        padding-left: 10%;
        padding-right: 10%;
        &__btns {
            flex-direction: row;
        }
    }

    .restaurants {
        padding-left: 10%;
        padding-right: 10%;
        &__cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__cards article {
            width: 44%;
        }
    }
}



