@use "../base/color";

.back-arrow {
    display: flex;
    position: absolute;
    gap: 8px;
    left: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}

.image {
    position: relative;
    width: 100%;
    height: 275px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu h1 {
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 26px 18px;
    margin-top: -70px;
    border-radius: 45px;
    z-index: 2;
    background-color: color.$grey;
    
    &__card-checkbox {
        display: none;
    }

    &__title {
        display: flex;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        
    }

    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        position: relative;
        box-shadow : 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        
    }

    &__card-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;
        width: 100%;
        background-color: white;
        padding: 14px;
        border-radius: 15px;
         
    }

    &__card-checkbox:checked + .menu__card-content .menu__card-price {
        transform: translateX(-20px);
        transition: transform 0.3s ease-in-out;
    }

    &__card-checkbox:checked + .menu__card-content .menu__card-price::after {
        content: "✔️";
        background-color: green;
        color: green;
        margin-left: 5px;
    }

    &__card-text {
        display: flex;
        flex-direction: column;
    }

    &__card-subtitle {
        flex: 1;
        
    }

    &__card-price {
        white-space: nowrap;
        background-color: white;

    }

    &__heart {
        position: absolute;
        right: 41px;
        top: 33px;
        
    }

    &__heart i.fa-solid {
        position: absolute;
        font-size: 26px;
        cursor: pointer;
        opacity: 0;
        -webkit-background-clip: text;
        background-clip: text;
        transition: opacity 0.7s ease-in-out;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(#FF79DA, #9356DC);
    }

    &__heart i.fa-solid:hover {
        opacity: 1;
    }

    &__heart i.fa-regular {
        font-size: 26px;
        
        
    }
}