@use "../base/color";

.back-arrow {
    display: flex;
    position: absolute;
    gap: 8px;
    left: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}

.image {
    position: relative;
    width: 100%;
    height: 275px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu h1 {
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 26px 18px;
    margin-top: -70px;
    border-radius: 45px;
    z-index: 2;
    background-color: color.$grey;
    
    &__card-checkbox {
        display: none;
        
    }

    &__title {
        font-weight: 200;
        display: inline-block;
        padding-bottom: 5px;
        
    }

    &__title::after {
        content: "";
        display: block;
        width: 55px;
        height: 3px;
        background-color: #99E2D0;
        
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        
    }

    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        position: relative;
        box-shadow : 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;
    }

    &__card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        transition: background-color 0.3s ease-in-out;
        overflow: hidden;
    }


    &__card-price {
        font-size: 16px;
        font-weight: bold;
        top: 13px;
        transition: transform 0.3s ease-in-out;
        white-space: nowrap; /* Empêche le retour à la ligne */
        position: relative;
        z-index: 1; /* Pour rester au-dessus du check avant l'animation */
    }
    
    &__card-check {
        width: 0px; /* Caché au départ */
        height: 100%;
        background-color: #99E2D0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: width 0.3s ease-in-out;
        overflow: hidden; /* Effet propre */
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    &__card-check::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 50%;
        transform: translate(-2%, -4%);
        z-index: 0;
    } 

    &__card-check i {
        color: #99E2D0;
        font-size: 15px;
        opacity: 1;
        transform: translate(-2%, -4%);
       
    }

    &__card-checkbox:checked + .menu__card-content .menu__card-price {
        transform: translateX(-45px);
        // transition: transform 0.3s ease-in-out;
    } 

    &__card-checkbox:checked + .menu__card-content .menu__card-check i {
        opacity: 1;
        
    }

    &__card-checkbox:checked + .menu__card-content .menu__card-check {
        width: 50px;
        
    }

    &__card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70%;
    }

    &__card-text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__card-subtitle {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70%;
    }

    

    &__heart {
        position: absolute;
        right: 41px;
        top: 33px;
        
    }

    &__heart i.fa-solid {
        position: absolute;
        font-size: 26px;
        cursor: pointer;
        opacity: 0;
        -webkit-background-clip: text;
        background-clip: text;
        transition: opacity 0.7s ease-in-out;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(#FF79DA, #9356DC);
    }

    &__heart i.fa-solid:hover {
        opacity: 1;
    }

    &__heart i.fa-regular {
        font-size: 26px;
        
        
    }
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}