$breakpoint-xs: 0; // Extra small (mobile par défaut)
$breakpoint-sm: 576px; // Small (petite tablettes)
$breakpoint-md: 768px; // Medium (tablettes)
$breakpoint-lg: 992px; // Large (ordinateurs de bureau)
$breakpoint-xl: 1200px; // Extra large (grand ecrans)
